<div class="span6 offset4 ice-box text-center">
	<h1 class ="awesome-sauce">
		Hi I'm Matt
	</h1>

	<br/>

	<h2>
		Hacking so hard Jay-Z would be proud
	</h2>

	<br/>

	<%= link_to 'launch', pics_path, :class => 'btn btn-info'  %>

</div>